body{
    background-color: #88958e;
}
.save_div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputs {
    width: 120%;
    margin-bottom: 10px;
    height: 25px;
}
.sbtn{
    width: 60%;
    margin-left: 30%;
    margin-right: 30%;
}
.sbtn:hover{
    border-radius: 5px;
    background-color: antiquewhite;
    color: black;
}
.vlink{
    width: 50%;
    margin-right: 30%;
    margin-left: 30%;
}
.adlink{
    float: right;

}
.mdlttl{
    color: black;
}